body {
  margin: 0;
  font-family: 'Consolas';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F1FAEA;
  color: #243230;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

main {
  margin-top: 48px;
}

div {
  box-sizing: border-box;
}

button {
  border: 0;
  font: 500 12px Consolas;
  background: none;
  outline: none;
  padding: 4px;
  margin: -4px;
  display: flex;
  justify-content: center;
  transition: transform 100ms ease-out;
}

button *:active, button:active {
  transform: scaleX(0.97);
}