body {
  margin: 0;
  font-family: 'Consolas';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F1FAEA;
  color: #243230;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

main {
  margin-top: 48px;
}

div {
  box-sizing: border-box;
}

button {
  border: 0;
  padding: 8px;
  font: 500 12px Consolas;
  background: none;
  outline: none;
}